{% extends 'base.html' %}


{% block header %}
	<h1>New partition</h1>
{% endblock %}

{% block content %}
	<div class="toolbar"> <a href="/partitions/{{partition}}/reservations" class="button_tool"> Back </a></div>
	<form method="post">
		{% if error %}
			<div class="error_box"> One or more values are incorrect. </div>
		{% endif %}
		Name: <input name="name" type="text" value="{{name}}" required>
		Nodes: <input name="node_cnt" type="number" value="1" min="1" value="{{node_cnt}}" required >
		Start: <input name="start_time" type="datetime-local" value="{{start_time}}" min="{{now}}">
		End: <input name="end_time" type="datetime-local" value="{{end_time}}" min="{{now}}"s>

		<input type="submit" value="Create">
	</form>
{% endblock %}